version: "3.9"
services:
  movie:
    image: 008226931786.dkr.ecr.us-east-1.amazonaws.com/dandelion_server:dandelion-movie
    ports:
      - "8080:8080"

  notification:
    image: 008226931786.dkr.ecr.us-east-1.amazonaws.com/dandelion_server:921c60ca51fcd35411519ea108e80c3b6503e893
    ports:
      - "8888:8888"

  main:
    image: 008226931786.dkr.ecr.us-east-1.amazonaws.com/dandelion_server:dandelion-main
    ports:
      - "3000:3000"

  nginx:
    image: 008226931786.dkr.ecr.us-east-1.amazonaws.com/dandelion_server:latest
    ports:
      - "80:80"
    depends_on:
      - movie
      - notification
      - main
